body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
.SM_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
li{
    position: relative;
    margin: 0 50px;
    height: 120px;
    width: 120px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.8s;
}
ul li:nth-child(1):hover{
    transform: rotateZ(360deg);
    background: #fff;
    border: 4px solid #3b5998;
}
ul li:nth-child(2):hover{
    transform: rotateZ(360deg);
    background: #fff;
    border: 4px solid #00aced;
}
ul li:nth-child(3):hover{
    transform: rotateZ(360deg);
    background: #fff;
    border: 4px solid #ff0084;
}
ul li:nth-child(4):hover{
    transform: rotateZ(360deg);
    background: #fff;
    border: 4px solid #007bb6;
}
ul li:nth-child(5):hover{
    transform: rotateZ(360deg);
    background: #fff;
    border: 4px solid #dd4b39;
}

.fa{
    color: #fff;
    font-size: 80px !important;
    transition: 0.8s;
}
ul li:nth-child(2):hover .fa{
   color: #00aced;
}
ul li:nth-child(3):hover .fa{
    color: #ff0084;
 }
 ul li:nth-child(4):hover .fa{
    color: #007bb6;
 }
 ul li:nth-child(5):hover .fa{
    color: #dd4b39;
 }
 ul li:nth-child(1):hover .fa{
    color: #3b5998;
 }
li:nth-child(1){
    background: #3b5998;
}
ul li:nth-child(2) 
{
    background: #00aced;
}
ul li:nth-child(3) 
{
    background: #ff0084;
}
ul li:nth-child(5) 
{
    background: #dd4b39;
}
ul li:nth-child(4) 
{
    background: #007bb6;
}